body {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: #000;
  overflow: hidden;
}

#img-exercise {
  object-fit: cover;
}

.show {
  display: block;
  width: 512px;
  height: 512px;
}

.hide {
  display: none;
}
